 #calendar-table {
	display: table;
	width: 900px;
	height: 1000px;
	padding-right: 3px;
}

#calendar-th {
	font-weight: bold;
	text-align: center;
	font-size: 1.4em;
	padding-bottom: 7px;
	border-bottom: 1px solid #cccccc;
}

#yearDigits{
	float: left;
	margin-left: 30%;
}

#monthName{
	margin-right: 30%;
}

.calendar-header-day {
	text-align: center;
	color: #cccccc;
	margin: 2px 0px;
	padding-top: 7px;
}

.calendar-day {
	text-align: center;
	width: 14.2%;
}

.monthPrev {
	color: #444444;
}

.monthNext {
	color: #444444;
}

.square-content .today {
	color: #ffffff;
	font-weight: bold;
}

.footer {
	text-align: center;
	font-size: 0.9em;
	line-height: 1.2em;
}

=======
.square-box {
	position: relative;
	width: 50%;
	overflow: hidden;
	margin: 0px auto;
}

.square-box:before {
	content: "";
	display: block;
	padding-top: 20%;
}

.square-content {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.square-content .today {
	border: 1px solid #cccccc;
	border-radius: 2px;
	background-color: #cccccc;
	font-weight: bold;
	color: #333333;
}

.square-content div {
	display: table;
	width: 100%;
	height: 100%;
}

.square-content span {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
>>>>>>> 84e50ad90e5857b1187b5bc5d581431314a52d1a
